body{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:orange;
}
.clsbody{
  margin-top:5px;
  border:1px solid;
  background-color:white;
  height: 420px;
  width:450px;
}
.in-box{
  display:flex;
  display:inline-block;

}
p{
  margin-left: 30px;
}
.title{
  margin-left: 30px;
}
input{
  margin-left:30px;
}
.button1{
  margin-top:25px;
  margin-left:25px;
  width:400px;
  height:30px;
  background:orange;
} 
.user-details{
  margin-top:-10px;
}
.gender-details{
  margin-top:20px;
  position: relative;
  
}